body {
  background-image: url("MAC_2394web-1-945x630.jpg");
  font-family: sans-serif;
  color: white;
  font-size: 24pt;
  display: flex;
  flex-wrap: wrap;
}

section {
  padding: 2em;
}

h1 {
  font-size: 3.5em;
  margin-top: 0em;
  margin-bottom: .5em;
}

h3 {
  font-size: 0.8em;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 1.5em;
}
h2 {
  margin-top: 0;
  font-weight: bold;
}
h4 {
  margin-top: 0em;
  margin-bottom: 0;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

p {
  margin-top: -2em;
  margin-bottom: 1.5em;
  font-size: 0.6em;
}
